:root {
  --bg: rgb(12, 15, 20);
  --text: #fff;
  --subtext: #a8a8a8;
  --border: 1px solid #262626;
  --hover: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, sans-serif; */

}

body {
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal
}

/* MAIN LAYOUT */
.dm-layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.icon-bar {
  width: 70px;
  border-right: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  gap: 50px;
}

.icon {
  font-size: 22px;
  cursor: pointer;
  filter: invert(1);
  background-color: rgb(243, 240, 235);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  transition: all 0.1s ease-in;
}

/* .icon:hover {
  background-color: var(--subtext);
  /* filter:invert(1); 
} */

.icon img {
  width: 25px;
  /* filter:invert(1); */
}


/* PANEL */
.messages-panel {
  width: 420px;
  border-right: var(--border);
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* padding-bottom: 5px; */
}

.header h2 {
  font-size: 22px;
  font-weight: 1000;
}

.edit {
  font-size: 20px;
  cursor: pointer;
}

/* SEARCH */
.search-box {
  padding: 0 16px 12px;
}

.search-box input {
  width: 100%;
  background: #262626;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

/* NOTES */
.notes-row {
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-x: auto;
  padding: 0 16px;
  scrollbar-width: none;
  transition: all 1s ease-in-out;
}

.notes {
  display: flex;
  overflow-x: auto;
  gap: 0px;
  padding: 10px 0px;
}

/* .notes-row::-webkit-scrollbar-thumb {
  /* display: none; 
  background-color: red;
    background-color: var(--bg);
} */
.notes-row h3 {
  display: flex;
}

.note {
  min-width: 70px;
  text-align: center;
  /* padding: 10px 20px; */
  transition: all 0.1s ease-in;
  /* padding:0px 20px; */
  margin: 0px 10px;
}

.note:hover {
  background-color: var(--hover);
}

.note:active {
  transform: scale(0.6);
  transition: all 1s;
}

.note img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.note p {
  font-size: 12px;
  color: var(--subtext);
  margin-top: 6px;
}

/* TITLE */
.msg-title {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 10px;
}

.msg-title span {
  color: var(--subtext);
}

/* CHATS */
.chat-list {
  overflow-y: auto;
  flex: 1;
  transition: all 0.3s ease-in;
}

.chat-list::-webkit-scrollbar {
  background-color: transparent;
  transition: all 0.3s ease-in;
}

.chat-list::-webkit-scrollbar-thumb {
  background-color: #a8a8a82b;
  border-radius: 10px;
  width: 5px;
}

.chat-list::-webkit-scrollbar:hover {
  background-color: var(--hover);
}

.chat {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.info {
  width: 100%;
}

.sub-info {
  display: flex;
  justify-content: space-between;
}

.chat:hover {
  background: var(--hover);
}

.chat:active {
  transform: scale(0.6);
  transition: all 1s;
}

.chat img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* background-color: var(--text); */
}

.chat h4 {
  font-size: 15px;
  font-weight: 600;
}

.chat p {
  font-size: 14px;
  color: var(--subtext);
  margin-top: 4px;
  font-weight: 300;
}

/* HAMBURGER */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;

}

.hamburger img {
  width: 30px;
  filter: invert(1);
}


/* MOBILE */
@media (max-width: 768px) {

  .hamburger {
    display: none;
  }

  .icon-bar {
    bottom: 0px;
    position: fixed;
    /* left: 0px; */
    /* top: 0; */
    height: 50px;
    background: var(--bg);
    border-top: var(--border);
    transition: 0.3s;
    z-index: 999;
    width: 100%;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 16px;
  }

  .icon-bar.open {
    left: 0;
  }

  .messages-panel {
    width: 100%;
  }
  /* .icon img {
  width: 45px;
  /* filter:invert(1); */

  .icon:hover {
    background-color: none;
  }
  .icon img {
  width: 24px;
  /* filter:invert(1); */
}
}